.container {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    border-style:dashed;

 

}

#top {
    width: 50%;
    margin: 10px auto;
}

#create, #result {
    width: 40%;
    margin: 10px auto;
}




.hidden {
    display: none;
}

.show {
    display: block;
}